$mainColor: blue;

.red {
  color: $mainColor;
}
//애니메이션 시작 때 적용할 css
.wow-enter {
  opacity: 0;
}
//애니메이션 동작할 때 적용할 css
.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}
@mixin function() {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert {
  @include function();
}

.my-alert-red {
  @extend .my-alert;
  background: blue;
}

.my-alert p {
  margin-bottom: 0;
  text-align: center;
}
